body {
	background-color: #b7bfcc;
	margin: 0;
	height: 100%;
	padding: 0;
}

.header {
	position: fixed;
	padding: 0px;
	margin: auto 0;
	background-color: #99a3a4;
	z-index: 1000;
	width: 100%;
	height: 70px;
	justify-content: center;
	box-shadow: 0 2px 4px rgba(0, 0, 1, 1);
	display: flex;
}

#logo-container {
	position: absolute;
	display: flex;
	top: 2px; bottom: 12px; left: 12px; right: 120px;
	width: 9%;
	text-decoration: none;
	align-content: center;
	background-color:;
	padding: 0px;
	z-index: 900;
}

#frase {
	font-family:'Parkinsans';
	font-size: 12px;
	position: fixed;
	top: 2.3rem; left: 1.5rem; 
	color: black;  
	margin-left: 10px;
}

#nombre-pag {
	font-family: 'Parkinsans';
	font-size: 2.5rem;
	position: fixed;
	color: black;
}

#apartados {
	font-family: 'Parkinsans';
	font-size: 1.46rem;
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-around;
	left: 20px;
}

#apartados a {
	text-decoration: none;
	color: black;

}

#apartados a:hover {
	text-decoration: underline;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.texto {
  color: black;
  width: 50%;
  bottom: -100px;
  left: 28%;
  align-items: center;
  display: absolute;
  position: relative;
  justify-content: center;
  align-items: center;
}
 
#Linea-del-tiempo {
	text-decoration: none;
	color: black;
}

.search-box {
	position: absolute;
	display: absolute;
	left: 16px;
	top: 89px;
	color: white;
}

main {
	margin-top: var(--main-top);
}
